@page
@model SmsTeknikTutorial.Pages.DocumentationModel
@{
    ViewData["Title"] = "Offisiell dokumentasjon";
}

<div>

    <h1>Offisiell dokumentasjon</h1>

    <p>Logg inn på <a href="https://www.smsteknik.se/member/login/" target="_blank">medlemsområdet</a> for å laste ned offisiell dokumentasjon.</p>
</div>
