/SMSCodeSamples/SmsTeknikHttpWrapperExamples/obj/
/SMSCodeSamples/SmsTeknikHttpWrapperExamples/bin/
/SMSCodeSamples/SmsTeknikTutorial/obj/
/SMSCodeSamples/SmsTeknikTutorial/bin/
/SMSCodeSamples/SmsTeknikWebServiceExamples/obj/
/SMSCodeSamples/SmsTeknikWebServiceExamples/bin/
/SMSCodeSamples/SmsTeknikXmlHttpExamples/obj/
/SMSCodeSamples/SmsTeknikXmlHttpExamples/bin/
