@page
@model IndexModel
@{
    ViewData["Title"] = "Examples";
}


<div>
    <h1>Http Wrapper Examples</h1>
    <ul>
        <li><a asp-page="/SendSms">Send Simple message (Basic authentication)</a></li>
    </ul>
</div>
